[class*="col-"] {
  padding: 0;
}
.container, .container-fluid {

        .content {
          background: white;
          margin: 40px 0 0 0;
          box-shadow: rgba(0,0,0,0.14) 0px 2px 2px 0px, rgba(0,0,0,0.2) 0px 3px 1px -2px, rgba(0,0,0,0.12) 0px 1px 5px 0px;

          .image {
            height: 250px;
            background-size: cover;
            background-position: center;
            margin: 0;
            box-shadow: rgba(0,0,0,0.14) 0px 2px 2px 0px, rgba(0,0,0,0.2) 0px 3px 1px -2px, rgba(0,0,0,0.12) 0px 1px 5px 0px;

          }
          .title {
            a {
              color: #212529;
              // text-decoration: none;
            }
            padding: 20px 40px 0 40px;
            font-size: 30px;
            font-family: 'Poppins', Arial;
          }
          .by {
            padding: 20px 40px 40px 40px;
            a {
              color: $pink;
              text-decoration: none;
            }
            .likes {
              float: right !important;
              color: $pink !important;
              font-weight: bold !important;
              font-size: 16px !important;
            }
          }
          .main {
            font-size: 18px;
            line-height: 18px;
            max-height: 56px;
            overflow-y: hidden;
          }
          .description {
            padding: 20px 40px 0 40px;
            font-family: 'Poppins';
            // text-align: justify;
          }

        }

        .boxed-title {
          box-shadow: rgba(0,0,0,0.14) 0px 2px 2px 0px, rgba(0,0,0,0.2) 0px 3px 1px -2px, rgba(0,0,0,0.12) 0px 1px 5px 0px;

          background: #1e1e1e;
          width: 100%;
          margin: 0 15px 0 15px;
          padding: 20px;
          margin-top: 40px;
          font-weight: bold;
          font-family: 'Poppins', Arial;
          color: $pink !important;
          a {
            color: $pink !important;
            text-decoration: none;
          }
        }
        .no-margin {
          margin-left:  0;
          margin-right: 0;
        }

}

.aside {

    margin-top: 40px;
    padding: 30px;
    background: white;
    box-shadow: rgba(0,0,0,0.14) 0px 2px 2px 0px, rgba(0,0,0,0.2) 0px 3px 1px -2px, rgba(0,0,0,0.12) 0px 1px 5px 0px;
    text-align: justify;

    h1, p {
      font-family: 'Poppins', Arial;
    }
    b, strong {
      color: $pink;
    }

}
